<style type="text/css">
	#for-high {
		display: none;
	}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: steelblue;
}

</style>



<h2 class="ui header">You just viewed the Chart Modal</h2>


<div class="ui modal" id="modal1">
    <i class="close icon"></i>
    <div class="header">
        Charts
    </div>
    <div class="description">
      	<div class="ui top attached tabular menu">
      		<a class="item active" data-tab='first'> D3</a>
      		<a class="item" data-tab='second'>HighChart</a>
      	</div>

      	<div class="ui bottom attached tab segment active" data-tab="first">
            <div style="margin-left:auto; margin-right: auto;">
                <div  id="for-d3" style="margin-left:auto; margin-right: auto; width:520px;"></div>
            </div>
      	</div>
      	<div class="ui bottom attached tab segment" data-tab="second">
        	
          <div id="container" style="width: 34.4rem; height: 25rem; margin: auto auto auto auto;"></div>
      	</div>

    </div>
</div>

<script src="//d3js.org/d3.v3.min.js"></script>

<!-- Script for highChart creation -->
<script type="text/javascript">
  console.log('rendering highChartsss');
   var chart = {
      type: 'area'
   };
   var title = {
      text: 'US and USSR nuclear stockpiles'   
   };
   var subtitle = {
      text: 'Source: <a href="http://thebulletin.metapress.com/content/c4120650912x74k7/fulltext.pdf">' +
         'thebulletin.metapress.com</a>'  
   };
   var xAxis = {
      allowDecimals: false,
      labels: {
         formatter: function () {
            return this.value;
         }
      }
   };
   var yAxis = {
      title: {
         text: 'Nuclear weapon states'
      },
      labels: {
         formatter: function () {
            return this.value / 1000 + 'k';
         }
      }
   };
   var tooltip = {
      pointFormat: '{series.name} produced <b>{point.y:,.0f}</b><br/>warheads in {point.x}'
   };
   var plotOptions = {
      area: {
         pointStart: 1940,
         marker: {
            enabled: false,
            symbol: 'circle',
            radius: 2,
            states: {
               hover: {
                 enabled: true
               }
            }
         }
      }
   };
   var series= [{
         name: 'USA',
            data: [null, null, null, null, null, 6, 11, 32, 110, 235, 369, 640,
                1005, 1436, 2063, 3057, 4618, 6444, 9822, 15468, 20434, 24126,
                27387, 29459, 31056, 31982, 32040, 31233, 29224, 27342, 26662,
                26956, 27912, 28999, 28965, 27826, 25579, 25722, 24826, 24605,
                24304, 23464, 23708, 24099, 24357, 24237, 24401, 24344, 23586,
                22380, 21004, 17287, 14747, 13076, 12555, 12144, 11009, 10950,
                10871, 10824, 10577, 10527, 10475, 10421, 10358, 10295, 10104]
        }, {
            name: 'USSR/Russia',
            data: [null, null, null, null, null, null, null, null, null, null,
                5, 25, 50, 120, 150, 200, 426, 660, 869, 1060, 1605, 2471, 3322,
                4238, 5221, 6129, 7089, 8339, 9399, 10538, 11643, 13092, 14478,
                15915, 17385, 19055, 21205, 23044, 25393, 27935, 30062, 32049,
                33952, 35804, 37431, 39197, 45000, 43000, 41000, 39000, 37000,
                35000, 33000, 31000, 29000, 27000, 25000, 24000, 23000, 22000,
                21000, 20000, 19000, 18000, 18000, 17000, 16000]
      }
   ];     
      
   var json = {};   
   json.chart = chart; 
   json.title = title;   
   json.subtitle = subtitle; 
   json.tooltip = tooltip;
   json.xAxis = xAxis;
   json.yAxis = yAxis;  
   json.series = series;
   json.plotOptions = plotOptions;
   console.log($('#for-high').highcharts(json));
   $('#container').highcharts(json);
</script>


<!-- Script for d3 creation -->
<script type="text/javascript">
	console.log("test3");
	$('.menu .item').tab();
  

var margin = {top: 20, right: 20, bottom: 30, left: 50},
    width = 480 - margin.left - margin.right,
    height = 250 - margin.top - margin.bottom;

var parseDate = d3.time.format("%d-%b-%y").parse;

var x = d3.time.scale()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var area = d3.svg.area()
    .x(function(d) { return x(d.date); })
    .y0(height)
    .y1(function(d) { return y(d.close); });

var svg = d3.select("#for-d3").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

d3.tsv("data.tsv", function(error, data) {
  if (error) throw error;

  data.forEach(function(d) {
    d.date = parseDate(d.date);
    d.close = +d.close;
  });

  x.domain(d3.extent(data, function(d) { return d.date; }));
  y.domain([0, d3.max(data, function(d) { return d.close; })]);

  svg.append("path")
      .datum(data)
      .attr("class", "area")
      .attr("d", area);

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Price ($)");
});

  
</script>


<script type="text/javascript">
	// $(document).ready(function)
	$('#modal1')
    .modal('setting', 'closable', false)
    .modal('show');
</script>