<style type="text/css">
    @import url(http://fonts.googleapis.com/css?family=Concert+One);  
    div#loader {
        position:relative;
        background-repeat:no-repeat;
        background-attachment: scroll;
        background-clip:content-box;
        background-position:0 0;
        margin:0;
        padding:0;
    }
    div#loader #loaded {   
        position:absolute;
        top:0;
        left:0;
        background-repeat:no-repeat;
        background-attachment: scroll;
        background-clip:content-box;
        background-position:0 0;
        margin:0;
        padding:0;
    }
    div#loader #position {
        position:absolute;
        left:0;
        border-top:1px dashed black;
        width: 100%;
        text-align:center;
        margin:0;
        padding:0;
        min-height: 40px;
    }
    div#loader #position div {
        font-family: 'Concert One';
        background:#2f574b;
        width: 25%;
        margin:0;
        padding:5px;
        margin: 0 auto;
        text-align:center;
        border-radius: 0 0 4px 4px;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        color:white;
    }
</style>

<h2 class="ui header">You just viewed the Illustration Modal</h2>

<div class="ui modal" id="modal2">
    <i class="close icon"></i>
    <div class="header">
        Illustrations
    </div>
    <div class="description">
        <div class="ui center aligned grid">
            <div class="row">
                <div class="six wide column">
                    <div class="ui action number input">
                        <input id="perc-inp" type="number" name="percentage" min="1" max="100" style="width: 8rem;">
                        
                        <button class="ui fluid red button" id="set-loader">Fill</button>                        
                    </div>
                </div>
            </div>
            
            <br>

            <div class="sixteen wide column row">
                <div id="loader" 
                     data-loader-size="450px 330px" 
                     data-back-image="http://fdfranklin.com/usf-bull-bw.png" 
                     data-front-image="http://fdfranklin.com/usf-bull.png">
                    <div id="loaded"></div>    
                    <div id="position"><div>0%</div></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- script for filling in silhoutte -->
<script type="text/javascript">
    
    $(function() {
        var loader_class = "#loader",
            control_class=  "#set-loader";
            
        var oLoader = {
            interval     : 10,
            timer        : null,
            upPerc       : 0,
            upHeight     : 0,
            curHeight    : 0,
            step         : 1,
            diff_bg      : 0,
            diff_top     : 0,
            size         : $(loader_class).data("loader-size").split(" "),
            heightInt    : 0,
            bimage       : $(loader_class).data("back-image"),
            fimage       : $(loader_class).data("front-image"),
            loader       : $(loader_class).children('#loaded').eq(0),
            position     : $(loader_class).children('#position').eq(0),
            pos_height   : 0
        }; 
        oLoader.heightInt = parseInt(oLoader.size[1],10);
        oLoader.pos_height = parseInt($(oLoader.position).height(),10) + 40;
        
        $(loader_class).css({
            width: oLoader.size[0],
            height: oLoader.size[1],
            'background-image':'url(' + oLoader.fimage + ')',
            'background-size':oLoader.size.join(' ')
        });
        $(oLoader.loader).css({
            width: oLoader.size[0],
            height: oLoader.size[1],
            'background-image':'url(' + oLoader.bimage + ')',
            'background-size':oLoader.size.join(' ')
        });
        $(oLoader.position).css({
            bottom: 0 - oLoader.pos_height
        });
        $(control_class).click(function(){
            clearInterval(oLoader.timer);
            oLoader.upPerc = parseInt($('#perc-inp').val());
            oLoader.upHeight = Math.ceil((oLoader.upPerc/100)*oLoader.heightInt);
            oLoader.upHeight = (oLoader.upHeight>oLoader.heightInt?oLoader.heightInt:oLoader.upHeight);   
            oLoader.curHeight = parseInt($(oLoader.loader).height(),10);
            oLoader.step = (oLoader.upHeight>(oLoader.heightInt - oLoader.curHeight)?-1:1);              
            oLoader.diff_bg = (oLoader.step === 1?
                (oLoader.heightInt - oLoader.curHeight) - oLoader.upHeight:
                oLoader.upHeight - (oLoader.heightInt - oLoader.curHeight));
            oLoader.diff_top = parseInt($(oLoader.position).css('bottom'),10);
            oLoader.timer = setInterval(function () {
                if (oLoader.diff_bg) {
                    oLoader.diff_bg--;
                    oLoader.curHeight += oLoader.step;
                    oLoader.diff_top  += -oLoader.step;
                    oLoader.calc_perc = Math.ceil((oLoader.diff_top + oLoader.pos_height) / oLoader.heightInt * 100);
                    oLoader.calc_perc = (oLoader.calc_perc < 0?0:oLoader.calc_perc);
                    oLoader.calc_perc = (oLoader.calc_perc > 100?100:oLoader.calc_perc);
                    $(oLoader.loader).css({ height: oLoader.curHeight });
                    $(oLoader.position).css({ bottom: oLoader.diff_top  });
                    $(oLoader.position).children('div').text(oLoader.calc_perc + "%");
                } else { 
                    clearInterval(oLoader.timer); 
                    $(oLoader.position).children('div').text(oLoader.upPerc + "%");
                }
            }, oLoader.interval);
        });        
    });


    $('#modal2')
        .modal('setting', 'closable', false)
        .modal({
            onHide: function() {
                console.log('on hide');
                window.location.reload(false); 
            }
        })
        .modal('show');
</script>